/*Primero las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Paquetes necesarios*/
@import 'tailwindcss';



:root {
  --color-primary: #FEFEFE;
  --color-secondary: #F7E9E9;
  --text-color: #454545;
  --text-color-secondary: #6C6C6C;
  --font-family: "Cormorant Upright", serif;
  --font-family-secondary: "Roboto", sans-serif;
  --text-color-hover: #842525;

  --color-icon-facebook: #1877F2;
  --color-icon-instagram: #E4405F;
  --color-icon-whatsapp: #25D366;
  --color-icon-whatsapp-hover: #128C7E;
}

@theme inline{
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --text-color: var(--text-color);
  --text-color-secondary: var(--text-color-secondary);
  --text-color-hover: var(--text-color-hover);


  --facebook-hover-color: var(--color-icon-facebook);
  --instagram-hover-color: var(--color-icon-instagram);
}



body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--color-primary);
  color: var(--text-color);
}




.custom-icon {
  font-size: 10px; /* Ajusta el tamaño según lo necesites */
}





/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

