@import 'tailwindcss';




:root {
  --color-primary: #FEFEFE;
  --color-secondary: #F7E9E9;
  --text-color: #454545;
  --font-family: 'Poppins', sans-serif;
}

@theme inline{
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

}



body {
  font-family: var(--font-family);
  background-color: var(--color-primary);
  color: var(--text-color);
}





/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

