
/*Generar una clase con la finalidad de llamarla y hacer efecto hover*/
.hover-color-facebook:hover {
  color: var(--facebook-hover-color);
  transition: all 0.3s ease-in-out;
}
.hover-color-instagram:hover {
  color: var(--instagram-hover-color);
  transition: all 0.3s ease-in-out;
}
.hover-color-whatsapp:hover {
  color: var(--whatsapp-hover-color);
  transition: all 0.3s ease-in-out;
}



.text-primary-color {
  color: var(--text-color);
}
.text-secondary-color {
  color: var(--text-color-secondary);
}

.text-secondary-font-family {
  font-family: var(--font-family-secondary);
}
.textHoverColor{
  transition: all 0.3s ease-in-out;
}
.textHoverColor:hover{
  color: var(--text-color-hover);
}



/*Tamaño de los iconos de redes sociales*/
.socialIcon {
  font-size: 2.2rem; /* Cambia aquí el tamaño global de los íconos */
  transition: color 0.3s;
}